html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* #aug_logo{
    height: 10%;
} */
#top-nav{
    background-color: #111;
    /* Let content overflow, prevents scrollbar inside navbar */
    overflow: visible;
    /* Augsburg Color */
    /* background-color: #74253e; */
}
.flex_container{
    display: flex;
    flex-direction: row;
}
#main_container{
    /* height: 80%; */
    /* This one doesnt work ?? */
    /* flex-grow: 100%; */

    /* Takes 100 % of remaining screen space */
    height: 100%;
    border: 5px solid red;
}
.sidebar{
    flex-grow: 10%;
    /* Getting full height of html page? (Works, but not what I expected) */
    height: 100%;
}
#sideContainer{
    width: 90%;
    height: 100%;
    /* padding: 10px;
    border: 5px solid red; */
    /* Set relative for image stuff below */
    position: relative;
    display: flex;
    /* Push content away from left and top border */
    padding-left: 30px;
    padding-top: 30px;
}
/* Inherits display flex properties */
/* Inherits display flex properties for chatbot animation area */
#sideContent{
    /* Push content away from header */
    /* padding-top: 30px; */
    position: relative;
    /* Fill the whole sideContainer to push animation to bottom corner */
    flex-grow: 1;
}
@media(max-height: 1000px){
    html{
        height: 150%;
    }
    @media(max-width: 425px){
        html{
            height: 170%;
        }
    }
    /* body{
        height: 150%;
    } */
}
@media(max-height: 800px){
    html{
        height: 210%;
    }
    .sidebar{
        flex-grow: 5%;
    }
    #sideContainer{
        flex-grow: 95%;
    }
}
